*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
 #card-1{
     position: absolute;
     z-index: 10;
     top:  110px;
     right: 20px ;
 }
   #username1{
       border-top: none;
       border-left: none;
       border-right: none;
   }

   #exampleInputPassword1{
      border-top: none;
      border-left: none;
      border-right: none;
   }

   #form-1{
    border-top: none;
    border-left: none;
    border-right: none;
   }
    
   #formGroupExampleInput-2{
    border-top: none;
    border-left: none;
    border-right: none;
   }

   #icon-1{
       background-color: rgb(13, 165, 13);
       padding: 30px;
       border-radius: 50px;
   }

   .no-bg{
         background-color: rgb(204, 19, 19);
         padding: 10px;
         border-radius: 10px;
         
   }
   
  